*:focus{outline: none;}
body{  background-image:url(image/heart-4724547_1280.jpg);background-size: cover; }

.detail
    {
      
        
       text-align:center;
       background-color:#eee;
       color:black;
       width:100%;
       margin: 50px auto; 
       max-width: 800px; 
       height:auto;
       border-radius: 20px;
       opacity:0.8;
       font-family: sans-serif;
       padding: 20px;
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       font-size: 14px;

    }
    .detail_form{
        width: 100%;
        max-width: 425px;
        margin: 0px auto;
        text-align: left;
    }
    
form input{
    background:none; 
    border:2px solid black;
    padding:10px;
    color: black;
    font-weight: 400;
    border-radius: 2px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

form input[type=email]{
        max-width: 414px;
        width: 100%;
    }    

form input[type=text], form input[type=tel],form input[type=date],form input[type=reset],form input[type=submit],form input[type=password]{
        max-width:200px; 
        width: 100%;
        transition: all 0.5s ease;       

    }
 
form input[type=checkbox]{}    

form textarea{

        width: 100%;
        max-width:414px;
        background-color:#ddd;
        border: 0px;
        color:#111;
        width: 100%;
        padding:10px; 
    }
    form input[type=reset]:hover{max-width:210px !important;margin-right:0px ; cursor: pointer; background-color: red; border-color: red;color: white;}
    form input[type=submit]:hover{max-width:210px !important;margin-left:-10px; cursor: pointer; background-color:green; border-color:green;color: white;}